body{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
    
}
.landing{
    background-image: url(img/rest2.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    color: whitesmoke;

}
header a{
    text-decoration:none;
    color: yellow;


}
header h2 i,nav h2 i {
   margin: right 0.25em;
}
 header{
    display:flex ;
    padding: 15px;
 }
  #logo{
    flex:3;

  }
  nav {
    flex:2;
    display: flex;
    
  }
  nav a {
    flex:1;
    color:red;
  }
  nav a:hover{
    color: green;


  }
  .oneline{
   color: rgb(43, 80, 226);
  }
  .callus{
   color:red;
  }
.tagline{
    display: flex;
    height:50vh;
    justify-content: center;
    padding: 30px;
    flex-direction: column;
 }
 .maintext{
    color: red;
    font-size:30px;
    font-weight: bolder;

 }
.tagline div{
   margin-top:20px;
}
 
 .try{
    width: 20vw;
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: aqua;
    text-align: center;
    font-size: 17px;
    border-radius: 10px;
    border: 1px solid green;
    
 }
 .menu{
   display: grid;
   grid-template-columns: repeat( auto-fit,minmax(320px,1fr));
   background:linear-gradient( to right,rgb(100,100,100), rgb(53,52,52));
 color: whitesmoke;
 text-transform: capitalize;

 
}
#locheading,#menuheading{
   background: linear-gradient(to right,rgb(100,100,100), rgb(53,52,52));
   color: brown;
   display: flex;
   justify-content: center;
}
.menu th{
   color: aquamarine;
   font-size: 1.5em;
}
table{
   width: 100%;
   padding: 20px;
}
.menu tr {
   margin-top: 20px;
   display: flex;
   justify-content: center;
}
.menu td:nth-child(1){
   flex: 1;
   justify-self:left ;

}
.menu td:nth-child(2){
   justify-self: right;
}
.maincourse{
   grid-row: span 2;
}
.fx{
   background: linear-gradient(to right,rgb(100,100,100), rgb(53,52,52));
}
.location{
   display: grid;
   grid-template-columns: repeat( auto-fit,minmax(320px,1fr));
   justify-content: center;
   padding: 10px;
   margin: 20px;
   text-transform: capitalize;
   
}
.location h2{
   color: cadetblue;
}
 h4{
   /* display:grid; */
   /* justify-content: center; */
   /* align-items: center; */
   text-align: center;
   font-size: medium;
}