#full{
    background:white;
}
 
 .nav .container-fluid{
    background-color: rgb(193, 168, 172) ;
    height: 60px;
}
.container-fluid h1:hover{
    color:white;
}

.btn a{
    text-decoration: none;
    color: black;
}
.name{

    text-align: center;
    font-weight: 300px;
 }
 .navbar-brand{
    width: 60px;
    height: 60px;
    border-radius: 60%;
 }
.form-action input {
    width: 90%; 
    height: 30px; 
    margin: 5px ; 
    display: block; 
    margin: auto; 
  
}
.letter{
    color: blueviolet;
}
.About-holder {
    padding :25px;
}
.contain h2{
    text-align: center;
}
.form-action {
    border: 1px solid black;
    margin:50px;
    margin-top: 150px;
    background-color: currentColor;
    padding :10px;
    border-radius: 20px;
}
.form-action .btn button{
    margin: 20px;
}
 .form-action .btn #submit{
    align-items: center;
}
.form-action .heading{
    text-align: center;
    color:blueviolet;
    font-weight: 500;
    font-family:'Times New Roman', Times, serif;
    font-size: xx-large;
}
.form-action label{
    color: blueviolet;
    font-weight: 500;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: large;
}
.card {
    margin-left: 300px;
    margin-right: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    
}
.carousel{
    margin: 30px;
   
}
.carousel-item h5 {
     color:white;
     font-size: 26px;
     font-weight: 800;
}
.carousel-item p {
    color:rgb(19, 245, 242);
     font-size: 20px;
     font-weight: 800;
}

@media screen and (max-width:1000px){
    
    .card{
        margin-left: 120px;
        margin-right:120px;
    }
}
/*@media screen and (min-width:400px){
    
    .card{
        margin-left: 120px;
        margin-right: 50px;
    }
}*/
.row {
    height: 300px;
}
.footer-widget ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}
.sidebar .widget ul>li>a ,
.footer-widget ul>li>a{
    color: white;
    text-decoration: none;

}
.footer-widgets-holder .footer-widget ul>li>a:hover{
    color: black;
    font-weight: 500;
} 
.footer-widgets-holder .footer-widget h4:hover{
    color: black;
}
.sidebar .widget ul>li>a:hover{
    color: black;
}
.footer-widgets-holder{
    display: flex;
    background-color:rgb(193, 168, 172) ;
    color: white;
    justify-content: space-between;
}
.footer-widget{
    padding: 25px;
    font-size: small;
}
.site-footer{
    padding: 25px;
    background-color: rgb(204, 201, 203) ;
    color: white;
    text-align: center;
    font-weight: 500;

}
.site-footer p:hover{
    color: black;
    font-weight: 500;
}
.site-footer p{
    margin: 0px;
}
@media screen and (max-width: 750px){
  
    .footer-widgets-holder{
        flex-direction:row;
    }
    .footer-widgets-holder .footer-widget{
        padding: 10px ;
    }
}
/* contact details*/
.g-map{
    width: 100%;
    height: 400px;
    border-bottom: 1px solid gainsboro;
}
.g-map iframe{
    width: 100%;
    height: 400px;
}
 /* contact details*/
 .contact_details{
    display: flex;
    justify-content: space-between;
 }
 .contact form input:hover{
          color: rgb(14, 17, 17);
          border:4px solid rgb(171, 107, 109);
 }
 .contact form textarea:hover{
    color: rgb(22, 23, 23);
    border:4px solid rgb(171, 107, 109);
 }
 .contact form button:hover{
    color: rgb(22, 23, 23);
    border:4px solid rgb(171, 107, 109);
}
.contactdetails{ 
    color: white;
    padding: 10px ;
    border: 1px solid white;
    background-color:dimgray;
    margin-top: 25px;
    text-align: center;
}
.block{
    border: 1px solid black;
    border-radius: 40px;
    width: 400px;
    height: 250px;
    display: inline-block;
    margin-top:120px;
    margin-left: 220px;
    background-color:lightslategray;
}
.block:hover{
    background-color: darkcyan;
}

@media screen and (max-width:660px) {
    .block{
        margin-left: 50px;
        margin-right: 50px;
    }
}
.block a{
    text-decoration: none;
    text-align: center;
   

}
.block a h2{
    color: black;
    margin-top: 100px;
}
.block a h2:hover{
    color: azure;
   
}
 .contact,
 .time-contact{
    padding: 25px;
    width: 50%;

 }
 .contact form{
    display: flex;
    flex-direction: column;
 }
 .contact form input,
 .contact form textarea{
    width:100% ;
     padding: 10px;
     margin: 5px 0px;
 }
 .contact form button{
    display: inline-block;
    width: 105%;
    padding: 10px;
 } 
 .contact_details button a{
    text-decoration: none;
    color: black;
    font-size: 20px;
 }
