#bro{
    border: 1px solid black;
    width: 500px;
    height: 300px;
    margin: 100px;
}
.bro1 input{
margin-left: 150px;
padding: 10px;
}
.bro1 h1{
    text-align: center;
}
.rad input{
    margin-left: 150px;
    font-size: 30px;
    font-weight:200px;
}
.btn input{
    margin-left: 200px;
    padding: 5px;
    margin-top: 20px;
}

#res{
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}
